{% liquid
  assign text = block.settings['bulk-btn-text']
  assign quantity = block.settings['bulk-btn-quantity']
  assign button_color = block.settings['bulk-button-color']
  assign button_bg_color = block.settings['bulk-btn-bg-color']
%}

{% if text and quantity > 1 %}
  <style>
    .blk_crt_btn{
    width: 100%;
    }
        bulk-add-to-cart-button {
            display: inline-block;
            margin: 1rem 0;
            padding: 1rem 2rem;
            color: {{ button_color }};
            background-color: {{ button_bg_color }};
            cursor: pointer;
            text-align: center;
            font-weight: bold;
            font-size: 1.2rem;
            border: 1px solid {{ button_color }};
    }
  </style>

  <div>
    <bulk-add-to-cart-button
      bg-color="{{ button_bg_color }}"
      product-id="{{ product.selected_or_first_available_variant.id }}"
      quantity-to-add="{{ quantity }}"
    >
      <span style="color: {{ button_color }}; background: {{button_bg_color}};" slot="btn_text">{{ text }}</span>
    </bulk-add-to-cart-button>
  </div>
{% endif %}

{% schema %}
{
  "name": "Bulk Add to Cart Button",
  "class": "blk_crt_btn",
  "settings": [
    {
      "type": "header",
      "content": "Bulk Button Settings"
    },
    {
      "type": "text",
      "id": "bulk-btn-text",
      "label": "Button Text",
      "default": "Buy 2, Get 10% Off"
    },
    {
      "type": "number",
      "id": "bulk-btn-quantity",
      "label": "Button Quantity",
      "default": 2
    },
    {
      "type": "color",
      "id": "bulk-button-color",
      "label": "Bulk Button Color",
      "default": "#121212"
    },
    {
      "type": "color",
      "id": "bulk-btn-bg-color",
      "label": "Bulk Button Background Color",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": "Bulk Add to Cart Button"
    }
  ]
}
{% endschema %}
