<p
  class="product__inventory{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}{% if product.selected_or_first_available_variant.inventory_management != 'shopify' %} visibility-hidden{% endif %}"
  {{ block.shopify_attributes }}
  id="Inventory-{{ section.id }}"
  role="status"
>
  {%- if product.selected_or_first_available_variant.inventory_management == 'shopify' -%}
    {%- if product.selected_or_first_available_variant.inventory_quantity > 0 -%}
      {%- if product.selected_or_first_available_variant.inventory_quantity <= block.settings.inventory_threshold -%}
        <span class="svg-wrapper" style="color: rgb(238, 148, 65)">
          {{- 'icon-inventory-status.svg' | inline_asset_content -}}
        </span>
        {%- if block.settings.show_inventory_quantity -%}
          {{-
            'products.product.inventory_low_stock_show_count'
            | t: quantity: product.selected_or_first_available_variant.inventory_quantity
          -}}
        {%- else -%}
          {{- 'products.product.inventory_low_stock' | t -}}
        {%- endif -%}
      {%- else -%}
        <span class="svg-wrapper" style="color: rgb(62, 214, 96)">
          {{- 'icon-inventory-status.svg' | inline_asset_content -}}
        </span>
        {%- if block.settings.show_inventory_quantity -%}
          {{-
            'products.product.inventory_in_stock_show_count'
            | t: quantity: product.selected_or_first_available_variant.inventory_quantity
          -}}
        {%- else -%}
          {{- 'products.product.inventory_in_stock' | t -}}
        {%- endif -%}
      {%- endif -%}
    {%- else -%}
      {%- if product.selected_or_first_available_variant.inventory_policy == 'continue' -%}
        <span class="svg-wrapper" style="color: rgb(62, 214, 96)">
          {{- 'icon-inventory-status.svg' | inline_asset_content -}}
        </span>
        {{- 'products.product.inventory_out_of_stock_continue_selling' | t -}}
      {%- else -%}
        <span class="svg-wrapper" style="color: rgb(200, 200, 200)">
          {{- 'icon-inventory-status.svg' | inline_asset_content -}}
        </span>
        {{- 'products.product.inventory_out_of_stock' | t -}}
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}
</p>

{% schema %}
{
  "name": "t:sections.main-product.blocks.inventory.name",
  "settings": [
    {
      "type": "select",
      "id": "text_style",
      "options": [
        {
          "value": "body",
          "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__2.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__3.label"
        }
      ],
      "default": "body",
      "label": "t:sections.main-product.blocks.inventory.settings.text_style.label"
    },
    {
      "type": "range",
      "id": "inventory_threshold",
      "label": "t:sections.main-product.blocks.inventory.settings.inventory_threshold.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10
    },
    {
      "type": "checkbox",
      "id": "show_inventory_quantity",
      "label": "t:sections.main-product.blocks.inventory.settings.show_inventory_quantity.label",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "t:sections.main-product.blocks.inventory.name"
    }
  ]
}
{% endschema %}
